    @/bond:OPLSAA/001_002 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b002*_a*_d*_i*
    @/bond:OPLSAA/001_003 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b003*_a*_d*_i*
    @/bond:OPLSAA/001_013 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/001_019 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/001_025 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/001_047 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/001_048 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/001_082 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/001_083 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/001_084 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/001_087 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/001_088 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/001_108 @/atom:OPLSAA/*_b001*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/002_002 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b002*_a*_d*_i*
    @/bond:OPLSAA/002_003 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b003*_a*_d*_i*
    @/bond:OPLSAA/002_005 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b005*_a*_d*_i*
    @/bond:OPLSAA/002_006 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b006*_a*_d*_i*
    @/bond:OPLSAA/002_010 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b010*_a*_d*_i*
    @/bond:OPLSAA/002_011 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b011*_a*_d*_i*
    @/bond:OPLSAA/002_012 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b012*_a*_d*_i*
    @/bond:OPLSAA/002_013 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/002_014 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/002_015 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b015*_a*_d*_i*
    @/bond:OPLSAA/002_016 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b016*_a*_d*_i*
    @/bond:OPLSAA/002_020 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/002_024 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/002_044 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/002_048 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/002_051 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/002_053 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/002_055 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/002_080 @/atom:OPLSAA/*_b002*_a*_d*_i* @/atom:OPLSAA/*_b080*_a*_d*_i*
    @/bond:OPLSAA/003_003 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b003*_a*_d*_i*
    @/bond:OPLSAA/003_004 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b004*_a*_d*_i*
    @/bond:OPLSAA/003_005 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b005*_a*_d*_i*
    @/bond:OPLSAA/003_006 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b006*_a*_d*_i*
    @/bond:OPLSAA/003_010 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b010*_a*_d*_i*
    @/bond:OPLSAA/003_012 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b012*_a*_d*_i*
    @/bond:OPLSAA/003_013 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/003_019 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/003_020 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/003_021 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b021*_a*_d*_i*
    @/bond:OPLSAA/003_024 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/003_044 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/003_046 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b046*_a*_d*_i*
    @/bond:OPLSAA/003_047 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/003_048 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/003_050 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/003_052 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b052*_a*_d*_i*
    @/bond:OPLSAA/003_056 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/003_057 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b057*_a*_d*_i*
    @/bond:OPLSAA/003_060 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/003_065 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/003_084 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/003_086 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/003_105 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/003_107 @/atom:OPLSAA/*_b003*_a*_d*_i* @/atom:OPLSAA/*_b107*_a*_d*_i*
    @/bond:OPLSAA/004_025 @/atom:OPLSAA/*_b004*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/004_064 @/atom:OPLSAA/*_b004*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/004_089 @/atom:OPLSAA/*_b004*_a*_d*_i* @/atom:OPLSAA/*_b089*_a*_d*_i*
    @/bond:OPLSAA/004_110 @/atom:OPLSAA/*_b004*_a*_d*_i* @/atom:OPLSAA/*_b110*_a*_d*_i*
    @/bond:OPLSAA/005_006 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b006*_a*_d*_i*
    @/bond:OPLSAA/005_007 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b007*_a*_d*_i*
    @/bond:OPLSAA/005_010 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b010*_a*_d*_i*
    @/bond:OPLSAA/005_013 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/005_020 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/005_024 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/005_025 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/005_044 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/005_047 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/005_048 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/005_051 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/005_064 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/005_079 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/005_106 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b106*_a*_d*_i*
    @/bond:OPLSAA/005_108 @/atom:OPLSAA/*_b005*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/006_006 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b006*_a*_d*_i*
    @/bond:OPLSAA/006_010 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b010*_a*_d*_i*
    @/bond:OPLSAA/006_011 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b011*_a*_d*_i*
    @/bond:OPLSAA/006_013 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/006_014 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/006_015 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b015*_a*_d*_i*
    @/bond:OPLSAA/006_016 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b016*_a*_d*_i*
    @/bond:OPLSAA/006_020 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/006_024 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/006_044 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/006_047 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/006_051 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/006_053 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/006_055 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/006_079 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/006_105 @/atom:OPLSAA/*_b006*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/007_020 @/atom:OPLSAA/*_b007*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/007_025 @/atom:OPLSAA/*_b007*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/009_009 @/atom:OPLSAA/*_b009*_a*_d*_i* @/atom:OPLSAA/*_b009*_a*_d*_i*
    @/bond:OPLSAA/009_011 @/atom:OPLSAA/*_b009*_a*_d*_i* @/atom:OPLSAA/*_b011*_a*_d*_i*
    @/bond:OPLSAA/009_014 @/atom:OPLSAA/*_b009*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/010_010 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b010*_a*_d*_i*
    @/bond:OPLSAA/010_011 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b011*_a*_d*_i*
    @/bond:OPLSAA/010_014 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/010_020 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/010_024 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/010_044 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/010_105 @/atom:OPLSAA/*_b010*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/011_011 @/atom:OPLSAA/*_b011*_a*_d*_i* @/atom:OPLSAA/*_b011*_a*_d*_i*
    @/bond:OPLSAA/011_013 @/atom:OPLSAA/*_b011*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/011_014 @/atom:OPLSAA/*_b011*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/011_079 @/atom:OPLSAA/*_b011*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/012_012 @/atom:OPLSAA/*_b012*_a*_d*_i* @/atom:OPLSAA/*_b012*_a*_d*_i*
    @/bond:OPLSAA/012_048 @/atom:OPLSAA/*_b012*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/012_060 @/atom:OPLSAA/*_b012*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/012_081 @/atom:OPLSAA/*_b012*_a*_d*_i* @/atom:OPLSAA/*_b081*_a*_d*_i*
    @/bond:OPLSAA/013_013 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b013*_a*_d*_i*
    @/bond:OPLSAA/013_014 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/013_015 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b015*_a*_d*_i*
    @/bond:OPLSAA/013_016 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b016*_a*_d*_i*
    @/bond:OPLSAA/013_018 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b018*_a*_d*_i*
    @/bond:OPLSAA/013_019 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/013_020 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/013_021 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b021*_a*_d*_i*
    @/bond:OPLSAA/013_022 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b022*_a*_d*_i*
    @/bond:OPLSAA/013_024 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/013_025 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/013_044 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/013_046 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b046*_a*_d*_i*
    @/bond:OPLSAA/013_047 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/013_048 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/013_050 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/013_051 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/013_053 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/013_055 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/013_056 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/013_057 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b057*_a*_d*_i*
    @/bond:OPLSAA/013_060 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/013_064 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/013_065 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/013_066 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b066*_a*_d*_i*
    @/bond:OPLSAA/013_079 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/013_080 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b080*_a*_d*_i*
    @/bond:OPLSAA/013_083 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/013_084 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/013_085 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b085*_a*_d*_i*
    @/bond:OPLSAA/013_087 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/013_090 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b090*_a*_d*_i*
    @/bond:OPLSAA/013_091 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/013_095 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b095*_a*_d*_i*
    @/bond:OPLSAA/013_101 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b101*_a*_d*_i*
    @/bond:OPLSAA/013_102 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b102*_a*_d*_i*
    @/bond:OPLSAA/013_104 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b104*_a*_d*_i*
    @/bond:OPLSAA/013_105 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/013_107 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b107*_a*_d*_i*
    @/bond:OPLSAA/013_108 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/013_109 @/atom:OPLSAA/*_b013*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
    @/bond:OPLSAA/014_014 @/atom:OPLSAA/*_b014*_a*_d*_i* @/atom:OPLSAA/*_b014*_a*_d*_i*
    @/bond:OPLSAA/015_017 @/atom:OPLSAA/*_b015*_a*_d*_i* @/atom:OPLSAA/*_b017*_a*_d*_i*
    @/bond:OPLSAA/015_048 @/atom:OPLSAA/*_b015*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/016_016 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b016*_a*_d*_i*
    @/bond:OPLSAA/016_019 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/016_024 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/016_025 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/016_047 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/016_048 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/016_061 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/016_082 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/016_084 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/016_091 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/016_108 @/atom:OPLSAA/*_b016*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/017_025 @/atom:OPLSAA/*_b017*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/018_018 @/atom:OPLSAA/*_b018*_a*_d*_i* @/atom:OPLSAA/*_b018*_a*_d*_i*
    @/bond:OPLSAA/018_019 @/atom:OPLSAA/*_b018*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/018_048 @/atom:OPLSAA/*_b018*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/018_056 @/atom:OPLSAA/*_b018*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/019_019 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b019*_a*_d*_i*
    @/bond:OPLSAA/019_021 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b021*_a*_d*_i*
    @/bond:OPLSAA/019_046 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b046*_a*_d*_i*
    @/bond:OPLSAA/019_047 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/019_048 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/019_050 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/019_065 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/019_088 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/019_091 @/atom:OPLSAA/*_b019*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/020_020 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b020*_a*_d*_i*
    @/bond:OPLSAA/020_021 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b021*_a*_d*_i*
    @/bond:OPLSAA/020_024 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b024*_a*_d*_i*
    @/bond:OPLSAA/020_025 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/020_044 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/020_047 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/020_048 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/020_051 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/020_060 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/020_061 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/020_064 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/020_082 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/020_084 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/020_108 @/atom:OPLSAA/*_b020*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/021_025 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/021_047 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/021_048 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/021_082 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/021_083 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/021_084 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/021_087 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/021_088 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/021_108 @/atom:OPLSAA/*_b021*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/022_023 @/atom:OPLSAA/*_b022*_a*_d*_i* @/atom:OPLSAA/*_b023*_a*_d*_i*
    @/bond:OPLSAA/022_025 @/atom:OPLSAA/*_b022*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/023_025 @/atom:OPLSAA/*_b023*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/023_079 @/atom:OPLSAA/*_b023*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/024_025 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/024_045 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b045*_a*_d*_i*
    @/bond:OPLSAA/024_048 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/024_059 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b059*_a*_d*_i*
    @/bond:OPLSAA/024_079 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/024_084 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/024_088 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/024_091 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/024_103 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b103*_a*_d*_i*
    @/bond:OPLSAA/024_106 @/atom:OPLSAA/*_b024*_a*_d*_i* @/atom:OPLSAA/*_b106*_a*_d*_i*
    @/bond:OPLSAA/025_025 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b025*_a*_d*_i*
    @/bond:OPLSAA/025_044 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/025_045 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b045*_a*_d*_i*
    @/bond:OPLSAA/025_046 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b046*_a*_d*_i*
    @/bond:OPLSAA/025_047 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/025_048 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/025_049 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b049*_a*_d*_i*
    @/bond:OPLSAA/025_053 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/025_056 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/025_061 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/025_065 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/025_103 @/atom:OPLSAA/*_b025*_a*_d*_i* @/atom:OPLSAA/*_b103*_a*_d*_i*
    @/bond:OPLSAA/031_032 @/atom:OPLSAA/*_b031*_a*_d*_i* @/atom:OPLSAA/*_b032*_a*_d*_i*
    @/bond:OPLSAA/031_033 @/atom:OPLSAA/*_b031*_a*_d*_i* @/atom:OPLSAA/*_b033*_a*_d*_i*
    @/bond:OPLSAA/031_106 @/atom:OPLSAA/*_b031*_a*_d*_i* @/atom:OPLSAA/*_b106*_a*_d*_i*
    @/bond:OPLSAA/034_035 @/atom:OPLSAA/*_b034*_a*_d*_i* @/atom:OPLSAA/*_b035*_a*_d*_i*
    @/bond:OPLSAA/036_037 @/atom:OPLSAA/*_b036*_a*_d*_i* @/atom:OPLSAA/*_b037*_a*_d*_i*
    @/bond:OPLSAA/036_038 @/atom:OPLSAA/*_b036*_a*_d*_i* @/atom:OPLSAA/*_b038*_a*_d*_i*
    @/bond:OPLSAA/039_040 @/atom:OPLSAA/*_b039*_a*_d*_i* @/atom:OPLSAA/*_b040*_a*_d*_i*
    @/bond:OPLSAA/039_041 @/atom:OPLSAA/*_b039*_a*_d*_i* @/atom:OPLSAA/*_b041*_a*_d*_i*
    @/bond:OPLSAA/042_043 @/atom:OPLSAA/*_b042*_a*_d*_i* @/atom:OPLSAA/*_b043*_a*_d*_i*
    @/bond:OPLSAA/044_044 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b044*_a*_d*_i*
    @/bond:OPLSAA/044_045 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b045*_a*_d*_i*
    @/bond:OPLSAA/044_048 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/044_079 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/044_091 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/044_108 @/atom:OPLSAA/*_b044*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/045_053 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/045_055 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/045_056 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/045_057 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b057*_a*_d*_i*
    @/bond:OPLSAA/045_101 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b101*_a*_d*_i*
    @/bond:OPLSAA/045_105 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/045_108 @/atom:OPLSAA/*_b045*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/046_047 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/046_050 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/046_051 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b051*_a*_d*_i*
    @/bond:OPLSAA/046_080 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b080*_a*_d*_i*
    @/bond:OPLSAA/046_091 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/046_095 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b095*_a*_d*_i*
    @/bond:OPLSAA/046_108 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/046_109 @/atom:OPLSAA/*_b046*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
    @/bond:OPLSAA/047_047 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b047*_a*_d*_i*
    @/bond:OPLSAA/047_048 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/047_050 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/047_057 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b057*_a*_d*_i*
    @/bond:OPLSAA/047_058 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b058*_a*_d*_i*
    @/bond:OPLSAA/047_065 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/047_066 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b066*_a*_d*_i*
    @/bond:OPLSAA/047_086 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/047_091 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/047_105 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/047_110 @/atom:OPLSAA/*_b047*_a*_d*_i* @/atom:OPLSAA/*_b110*_a*_d*_i*
    @/bond:OPLSAA/048_048 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b048*_a*_d*_i*
    @/bond:OPLSAA/048_049 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b049*_a*_d*_i*
    @/bond:OPLSAA/048_050 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/048_053 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b053*_a*_d*_i*
    @/bond:OPLSAA/048_055 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/048_056 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/048_057 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b057*_a*_d*_i*
    @/bond:OPLSAA/048_060 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/048_061 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/048_064 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/048_065 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b065*_a*_d*_i*
    @/bond:OPLSAA/048_066 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b066*_a*_d*_i*
    @/bond:OPLSAA/048_079 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b079*_a*_d*_i*
    @/bond:OPLSAA/048_081 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b081*_a*_d*_i*
    @/bond:OPLSAA/048_084 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/048_086 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/048_088 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/048_091 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/048_101 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b101*_a*_d*_i*
    @/bond:OPLSAA/048_102 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b102*_a*_d*_i*
    @/bond:OPLSAA/048_109 @/atom:OPLSAA/*_b048*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
    @/bond:OPLSAA/049_059 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b059*_a*_d*_i*
    @/bond:OPLSAA/049_062 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b062*_a*_d*_i*
    @/bond:OPLSAA/049_082 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/049_083 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/049_084 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/049_085 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b085*_a*_d*_i*
    @/bond:OPLSAA/049_087 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/049_088 @/atom:OPLSAA/*_b049*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/050_050 @/atom:OPLSAA/*_b050*_a*_d*_i* @/atom:OPLSAA/*_b050*_a*_d*_i*
    @/bond:OPLSAA/050_056 @/atom:OPLSAA/*_b050*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/050_084 @/atom:OPLSAA/*_b050*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/050_109 @/atom:OPLSAA/*_b050*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
    @/bond:OPLSAA/051_105 @/atom:OPLSAA/*_b051*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/052_064 @/atom:OPLSAA/*_b052*_a*_d*_i* @/atom:OPLSAA/*_b064*_a*_d*_i*
    @/bond:OPLSAA/053_054 @/atom:OPLSAA/*_b053*_a*_d*_i* @/atom:OPLSAA/*_b054*_a*_d*_i*
    @/bond:OPLSAA/054_055 @/atom:OPLSAA/*_b054*_a*_d*_i* @/atom:OPLSAA/*_b055*_a*_d*_i*
    @/bond:OPLSAA/055_059 @/atom:OPLSAA/*_b055*_a*_d*_i* @/atom:OPLSAA/*_b059*_a*_d*_i*
    @/bond:OPLSAA/055_082 @/atom:OPLSAA/*_b055*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/056_056 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b056*_a*_d*_i*
    @/bond:OPLSAA/056_059 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b059*_a*_d*_i*
    @/bond:OPLSAA/056_060 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/056_082 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/056_086 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/056_103 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b103*_a*_d*_i*
    @/bond:OPLSAA/056_109 @/atom:OPLSAA/*_b056*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
    @/bond:OPLSAA/057_060 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/057_061 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/057_062 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b062*_a*_d*_i*
    @/bond:OPLSAA/057_081 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b081*_a*_d*_i*
    @/bond:OPLSAA/057_082 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/057_084 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/057_085 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b085*_a*_d*_i*
    @/bond:OPLSAA/057_086 @/atom:OPLSAA/*_b057*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/058_083 @/atom:OPLSAA/*_b058*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/058_084 @/atom:OPLSAA/*_b058*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/059_063 @/atom:OPLSAA/*_b059*_a*_d*_i* @/atom:OPLSAA/*_b063*_a*_d*_i*
    @/bond:OPLSAA/060_060 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b060*_a*_d*_i*
    @/bond:OPLSAA/060_061 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/060_080 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b080*_a*_d*_i*
    @/bond:OPLSAA/060_081 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b081*_a*_d*_i*
    @/bond:OPLSAA/060_087 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/060_105 @/atom:OPLSAA/*_b060*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/061_061 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b061*_a*_d*_i*
    @/bond:OPLSAA/061_062 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b062*_a*_d*_i*
    @/bond:OPLSAA/061_082 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/061_083 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/061_084 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/061_088 @/atom:OPLSAA/*_b061*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/062_063 @/atom:OPLSAA/*_b062*_a*_d*_i* @/atom:OPLSAA/*_b063*_a*_d*_i*
    @/bond:OPLSAA/062_105 @/atom:OPLSAA/*_b062*_a*_d*_i* @/atom:OPLSAA/*_b105*_a*_d*_i*
    @/bond:OPLSAA/063_082 @/atom:OPLSAA/*_b063*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/064_108 @/atom:OPLSAA/*_b064*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/065_082 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/065_083 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/065_084 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/065_087 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/065_088 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/065_108 @/atom:OPLSAA/*_b065*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/066_082 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b082*_a*_d*_i*
    @/bond:OPLSAA/066_083 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b083*_a*_d*_i*
    @/bond:OPLSAA/066_084 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/066_087 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/066_088 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/066_108 @/atom:OPLSAA/*_b066*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/077_078 @/atom:OPLSAA/*_b077*_a*_d*_i* @/atom:OPLSAA/*_b078*_a*_d*_i*
    @/bond:OPLSAA/080_084 @/atom:OPLSAA/*_b080*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/082_086 @/atom:OPLSAA/*_b082*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/082_087 @/atom:OPLSAA/*_b082*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/083_084 @/atom:OPLSAA/*_b083*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/083_086 @/atom:OPLSAA/*_b083*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/084_084 @/atom:OPLSAA/*_b084*_a*_d*_i* @/atom:OPLSAA/*_b084*_a*_d*_i*
    @/bond:OPLSAA/084_086 @/atom:OPLSAA/*_b084*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/084_087 @/atom:OPLSAA/*_b084*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/084_088 @/atom:OPLSAA/*_b084*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/085_085 @/atom:OPLSAA/*_b085*_a*_d*_i* @/atom:OPLSAA/*_b085*_a*_d*_i*
    @/bond:OPLSAA/086_086 @/atom:OPLSAA/*_b086*_a*_d*_i* @/atom:OPLSAA/*_b086*_a*_d*_i*
    @/bond:OPLSAA/086_087 @/atom:OPLSAA/*_b086*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/086_088 @/atom:OPLSAA/*_b086*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/087_087 @/atom:OPLSAA/*_b087*_a*_d*_i* @/atom:OPLSAA/*_b087*_a*_d*_i*
    @/bond:OPLSAA/087_088 @/atom:OPLSAA/*_b087*_a*_d*_i* @/atom:OPLSAA/*_b088*_a*_d*_i*
    @/bond:OPLSAA/089_090 @/atom:OPLSAA/*_b089*_a*_d*_i* @/atom:OPLSAA/*_b090*_a*_d*_i*
    @/bond:OPLSAA/089_091 @/atom:OPLSAA/*_b089*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/090_091 @/atom:OPLSAA/*_b090*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/091_091 @/atom:OPLSAA/*_b091*_a*_d*_i* @/atom:OPLSAA/*_b091*_a*_d*_i*
    @/bond:OPLSAA/102_103 @/atom:OPLSAA/*_b102*_a*_d*_i* @/atom:OPLSAA/*_b103*_a*_d*_i*
    @/bond:OPLSAA/108_108 @/atom:OPLSAA/*_b108*_a*_d*_i* @/atom:OPLSAA/*_b108*_a*_d*_i*
    @/bond:OPLSAA/109_109 @/atom:OPLSAA/*_b109*_a*_d*_i* @/atom:OPLSAA/*_b109*_a*_d*_i*
