    @/improper:OPLSAA/X_X_003_004 @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i003* @/atom:OPLSAA/*_b*_a*_d*_i004*
    @/improper:OPLSAA/X_X_003_052 @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i003* @/atom:OPLSAA/*_b*_a*_d*_i052*
    @/improper:OPLSAA/X_X_024_X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i024* @/atom:OPLSAA/*
    @/improper:OPLSAA/X_X_047_X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i047* @/atom:OPLSAA/*
    @/improper:OPLSAA/X_X_048_X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i048* @/atom:OPLSAA/*
    @/improper:OPLSAA/055_055_X_055 @/atom:OPLSAA/*_b*_a*_d*_i055 @/atom:OPLSAA/*_b*_a*_d*_i055 @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i055
